# Ignore source files
*.txt
*.xlsx
*.eaf
*.csv
*.docx
*.pfsx
*.pdf
*.zip

# Ignore __pycache__ directory
__pycache__/

checkpoint-1500
model.safetensors
optimizer.pt

cc.es.300.bin
cc.es.300.bin.gz

model12

mapping

tokenizer